.welcome {
    /* 欢迎图片大盒子*/
    height: 650px;
    width: 1440;
    color: wheat;
    text-align: center;
    font-size: 100px;
    line-height: 650px;
    background-image: linear-gradient(to right, #0eb453, #8e70e2);
}
.welcome2{
    /* 欢迎图片小盒子*/
    background-image: url(images/logo.ico);
    background-repeat: no-repeat;
    background-position: center 100px;
}
.nav{
    height: 50px;
    color: #fff;
}
.sbl{
    /* 上边栏 */
    display: inline-block;
    color: black;
    height: 50px;
    text-decoration: none;
    padding-left: 30px;
    line-height: 50px;
}
.sbl:hover{
    /* 上边栏 */
    color: aquamarine;
}

.login{
    /* 上边栏登入 */
    
    color: black;
    font-size: 25px;
    font-weight: 500;
}
.specialnav{
    display: inline-block;
    padding-left: 250px;

    /* background-image: url(images/logo.ico);
    background-repeat: no-repeat;
    background-position: right top; */
}
/* .sbl2{

    height: 50px;
    width: 100%;
    background :rgba(255,255,255,0.5);
    background-image: url(images/acdfz-0qvgb-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right center;

    border-top: 100px;
    border-top-color: green ;
}
.sbl3{
    display: inline-block;
    margin-left: 850px;
    
} */

.bcb{
    /* width: 100%; */
    height: 200px;
    background-color: peru;
    /* background-image: url(images/OIP-C3.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: left top; */
    text-align: center;
    line-height: 200px;
    font-size: 90px;
    color: #fff;
}











* {
    margin: 0;
    padding: 0;
}
main{
    background-image: url(images/leaftech.jpg);
}
.texttitle{
    text-align: center;
    font-size: 50px;
    font-weight: 60px;
    color: cyan
}
.texttitle2{
    border-top-width: 3px;
    border-top-color: peru;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: peru;
    border-bottom-style: solid;
    text-align: center;
    font-size: 50px;
    font-weight: 60px;
    color: cyan
}
.textmain{
    text-align: center;
    font-size: 25px;
    font-weight: 100px;
    line-height: 65px;
}
.textmain a{
    text-decoration: none;
    color: rgb(81, 64, 182);
}
.textmain2{    
    padding-left: 90px;
    font-size: 25px;
    font-weight: 100px;
    line-height: 65px;
}
.textmain2 a{
    text-decoration: none;
    color: cyan;
}
.textmain2 a:hover{
    color: purple;
}



section{
    background-color: #fff;
    width: 1300px;
}


.textsection{
    margin-left: 50px;
    background-color: #fff;
    width: 1300px;
}