<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/public/css/main.css">
    <link rel="shortcut icon" href="/static/resource/images/favicon.ico" type="image/x-icon">
    <title>账号数据</title>
</head>

<body>
    <canvas id="background"></canvas>
    <nav class="nav">
        <ul>
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="/article/upload">上传文章</a>
            </li>
            <li>
                <a href="/task?type=all">活动任务</a>
            </li>
            <li>
                <a href="/pushtask">发布活动任务</a>
            </li>
            <li>
                <a href="/userdb">账号管理</a>
            </li>
        </ul>
    </nav>
    <div id="app">
        
    </div>
</body>
<script src="/static/public/js/socket.min.js"></script>
<script src="/static/public/js/GM.js"></script>
<script src="/static/public/js/background.js"></script>

</html>