<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/public/css/main.css">
    <link rel="stylesheet" href="/static/public/css/index.css">
    <link rel="shortcut icon" href="/static/resource/images/favicon.ico" type="image/x-icon">
    <title>欢迎，{{ username }}</title>
</head>

<body>
    <canvas id="background"></canvas>
    <h1>欢迎回来，{{ username }}</h1>
    <h1>所有文章</h1>
    <a href="/article/upload">上传文章</a>
    <ul>
        {% for i in articles %}
        <li><a href="/article/{{ i['uid'] }}">{{ i['title'] }}——{{ i['editor'] }}</a></li>
        {% endfor %}
    </ul>
</body>
<script src="/static/public/js/GM.js"></script>
<script src="/static/public/js/background.js"></script>

</html>