<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/public/css/main.css">
    <link rel="stylesheet" href="/static/public/css/index.css">
    <link rel="shortcut icon" href="/static/resource/images/favicon.ico" type="image/x-icon">
    <title>首页</title>
</head>

<body>
    <canvas id="background"></canvas>
    <nav id="topnav">
        <ul>
            <li href="/home">
                主页
            </li>
            <li href="/article/editor?type=new">
                上传文章
            </li>
            <li href="/article">
                所有文章
            </li>
            <li href="/task">
                活动任务
            </li>
            <li href="/account">
               账号管理
            </li>
        </ul>
    </nav>
    <iframe src="/home" frameborder="0" id="app" name="app"><span class="loading" style="font-family: icomoon;display: block;width: 1em;height: 1em;"></span></iframe>

    <div id="socket-message-box">
        <h3> 您有一条新消息</h3>
        <p></p>
        <hr>
        <p>点击此消息框跳转</p>
    </div>
</body>
<!-- <script src="/static/public/js/socket.min.js"></script> -->
<script src="/static/public/js/GM.js"></script>
<script src="/static/public/js/index.js" type="module"></script>

</html>