<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/public/css/main.css">
    <link rel="stylesheet" href="/static/public/css/form.css">
    <script>
        if (window.self == top.window) {
            window.top.location = '/'
        }
    </script>
    <style>
        body {
            padding-top: 0;
        }

        .form {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="form">
        <form>
            <h3>创建任务</h3>
            <div>
                <input type="text" class="input_text" name="title" required>
                <i>标题</i>
            </div>
            <div>
                <textarea name="message" class="input_text" required></textarea>
                <i>描述(能够使用markdown格式)</i>
            </div>
            <div>
                <textarea name="order" class="input_text" required></textarea>
                <i>要求(每行一个)</i>
            </div>
            <div>
                <i>目标部门：</i>
                <select name="account-class" required>
                    <option value="programer">编程部</option>
                    <option value="painter">画师部</option>
                    <option value="cutter">频像部</option>
                </select>
            </div>
            <div>
                <input id="cancel" type="reset" class="btn" value="取消">
                <input id="submit" type="submit" class="btn" value="确定">
            </div>
        </form>
    </div>
</body>
<script src="/static/public/js/GM.js"></script>
<script src="/static/public/js/taskcreate.js" type="module"></script>

</html>