body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    flex: 1;
    height: 100vh;
}

#app {
    width: 100%;
    overflow: auto;
    flex: 1;
}

#topnav {
    background-color: rgba(17, 17, 17);
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px 1px black;
}

#topnav>ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    height: 50px;
    width: auto;
    user-select: none;
}

#topnav>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
    padding: 0 10px;
    font-family: icomoon, sans-serif;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#topnav>ul>li:hover {
    color: rgb(0, 180, 0);
    background: rgb(40, 40, 40);
}

#topnav.close {
    top: -50px;
}

#socket-message-box {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: rgba(17, 17, 17);
    box-shadow: 0 0 10px 1px black;
    border-radius: 8px;
    padding: 10px 10px;
    width: 400px;
    user-select: none;
    cursor: pointer;
    transform: translateX(200%);
    overflow: hidden;
}

#socket-message-box:hover {
    transform: scale(1.01);
    background-color: rgba(30, 30, 30);
}

#socket-message-box:active {
    transform: scale(0.99);
    transition: .1s;
}

.active {
    transform: translateX(0) !important;
}
#socket-message-box h3 {font-family: icomoon, sans-serif;}
#socket-message-box p:first-of-type {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}